/*
selector {
eigenschaft: wert; --> ; muss immer gesetzt werden!
}
*/

/* Alle Elemente */

* {
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  background-color: red;
  color: black;
  width: 600px;
  padding: 10px;
  border: 3px solid red;
}

p {
  width: 600px;
  background-color: yellowgreen;
  padding: 10px;
  border: 3px solid;
  border-color: rgb(255, 0, 0);
}

img {
  width: 600px;
  display: block;
}

/*
Gib dem Link eine Klasse beliebigen Namens. 
Die Klasse soll dem Link eine Border geben.
schwarz
1px
durchgezogene Linie
*/

a {
  color: black;
  text-decoration: none;
  background-color: red;
  padding: 10px;
  display: inline-block;
  margin-top: 10px;
}

.uebung {
  border: 1px solid black;
}

/* Eine ID in HTML wird zu einem Hashtag (#) */
#zweite {
  background-color: bisque;
}

/* Eine Klasse in HTML wird zu einem Punkt (.) */
.green {
  background-color: blueviolet;
}
